@font-face {
  font-family: Oswald;
  src: url('Oswald-Regular.ttf');
}
@font-face {
  font-family: Oswald;
  src: url('Oswald-DemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Oswald;
  src: url('Oswald-Heavy.ttf');
  font-weight: 800;
}